.section-subpage-intro{
    display: flex;
    padding: 100px 60px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-self: stretch;
}

.section-subpage-intro-image{
    max-width: 400px;
}

.section-subpage-intro-textdiv{
    display: flex;
    width: 500px;
    min-width: 300px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.section-subpage-intro-title{
    align-self: stretch;
    color: var(--primiary-gray-color);
    font-family: "Roboto Slab";
    font-size: 49px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
}

.section-subpage-intro-description{
    align-self: stretch;
    color: var(--secondary-gray-color);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

@media (max-width: 900px) {
    .section-subpage-intro{
        gap: 40px;
    }
    .section-subpage-intro-textdiv{
        min-width: 280px;
    }
}

@media (max-width: 520px) {
    .section-subpage-intro{
        flex-direction: column;
        padding: 60px 30px;
        gap: 30px;
    }
    .section-subpage-intro-textdiv{
        width: 300px;
    }
    .section-subpage-intro-title{
        font-size: 36px;
        line-height: 48px; 
    }
}