.navbar-buttons-welcome-text{
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: 12px;
}

@media (max-width: 900px) {
    .navbar {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
  
@media (max-width: 520px) {
    .navbar-tabs {
      flex-wrap: wrap;
      justify-content: center;
    }
}